In [175]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [176]:
student_data = pd.get_dummies(pd.read_csv('./StudentsPerformance.csv'))

In [177]:
student_data.head()

,math score,reading score,writing score,gender_female,gender_male,race/ethnicity_group A,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,parental level of education_associate's degree,parental level of education_bachelor's degree,parental level of education_high school,parental level of education_master's degree,parental level of education_some college,parental level of education_some high school,lunch_free/reduced,lunch_standard,test preparation course_completed,test preparation course_none
0,72,72,74,1,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,1
1,69,90,88,1,0,0,0,1,0,0,0,0,0,0,1,0,0,1,1,0
2,90,95,93,1,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,1
3,47,57,44,0,1,1,0,0,0,0,1,0,0,0,0,0,1,0,0,1
4,76,78,75,0,1,0,0,1,0,0,0,0,0,0,1,0,0,1,0,1

In [178]:
Ytrain=np.array([ (student_data['math score'] +student_data['reading score']+ student_data['writing score'] )/3]).T

In [179]:
Ytrain.shape

(1000, 1)

In [180]:
# Ytrain.head()

In [181]:
Xtrain = student_data
from sklearn.preprocessing import MinMaxScaler
scale = MinMaxScaler()
Xtrain[['math score','reading score','writing score']] = scale.fit_transform(Xtrain[['math score','reading score','writing score']])
Xtrain.head()

D:\Tools\Programs\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype int64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

,math score,reading score,writing score,gender_female,gender_male,race/ethnicity_group A,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,parental level of education_associate's degree,parental level of education_bachelor's degree,parental level of education_high school,parental level of education_master's degree,parental level of education_some college,parental level of education_some high school,lunch_free/reduced,lunch_standard,test preparation course_completed,test preparation course_none
0,0.72,0.662651,0.711111,1,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,1
1,0.69,0.879518,0.866667,1,0,0,0,1,0,0,0,0,0,0,1,0,0,1,1,0
2,0.90,0.939759,0.922222,1,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,1
3,0.47,0.481928,0.377778,0,1,1,0,0,0,0,1,0,0,0,0,0,1,0,0,1
4,0.76,0.734940,0.722222,0,1,0,0,1,0,0,0,0,0,0,1,0,0,1,0,1

In [182]:
xtrain, xtest, ytrain, ytest = train_test_split(Xtrain, Ytrain, test_size = 0.2, random_state =1 )

In [183]:
xtrain.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 800 entries, 382 to 37
Data columns (total 20 columns):
math score                                        800 non-null float64
reading score                                     800 non-null float64
writing score                                     800 non-null float64
gender_female                                     800 non-null uint8
gender_male                                       800 non-null uint8
race/ethnicity_group A                            800 non-null uint8
race/ethnicity_group B                            800 non-null uint8
race/ethnicity_group C                            800 non-null uint8
race/ethnicity_group D                            800 non-null uint8
race/ethnicity_group E                            800 non-null uint8
parental level of education_associate's degree    800 non-null uint8
parental level of education_bachelor's degree     800 non-null uint8
parental level of education_high school           800 non-null uint8
parental level of education_master's degree       800 non-null uint8
parental level of education_some college          800 non-null uint8
parental level of education_some high school      800 non-null uint8
lunch_free/reduced                                800 non-null uint8
lunch_standard                                    800 non-null uint8
test preparation course_completed                 800 non-null uint8
test preparation course_none                      800 non-null uint8
dtypes: float64(3), uint8(17)
memory usage: 38.3 KB

In [184]:
from sklearn.linear_model import LinearRegression

In [185]:
lr = LinearRegression()
lr.fit(xtrain,ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [186]:
pred = lr.predict(xtest)

In [187]:
from math import sqrt
from sklearn.metrics import mean_squared_error
rms = sqrt(mean_squared_error(ytest, pred))

In [188]:
print(rms)

2.078413413397407e-14

In [192]:

from keras.models import Model, load_model, Sequential
from keras.layers import Dense, Flatten, Dropout, Input,Activation
from keras.optimizers import Nadam

nn = Sequential()
nn.add(Dense(20,activation='tanh',input_dim=20))
nn.add(Dense(30,activation='tanh'))
nn.add(Dense(300,activation='tanh'))
nn.add(Dense(200,activation='tanh'))
nn.add(Dense(80,activation='tanh'))
nn.add(Dense(1,activation='tanh'))
nn.compile(loss='mean_squared_error',
              optimizer='sgd',
           metrics=['mae', 'acc'])
nn.fit(xtrain, ytrain, epochs=5, batch_size=32)

print(nn.evaluate(xtest, ytest, batch_size=128))

Epoch 1/5
800/800 [==============================] - 0s 453us/step - loss: 4677.6071 - mean_absolute_error: 66.9072 - acc: 0.0000e+00
Epoch 2/5
800/800 [==============================] - 0s 91us/step - loss: 4672.6078 - mean_absolute_error: 66.8708 - acc: 0.0000e+00
Epoch 3/5
800/800 [==============================] - 0s 92us/step - loss: 4672.6078 - mean_absolute_error: 66.8708 - acc: 0.0000e+00
Epoch 4/5
800/800 [==============================] - 0s 97us/step - loss: 4672.6078 - mean_absolute_error: 66.8708 - acc: 0.0000e+00
Epoch 5/5
800/800 [==============================] - 0s 90us/step - loss: 4672.6078 - mean_absolute_error: 66.8708 - acc: 0.0000e+00
200/200 [==============================] - 0s 453us/step
[4616.51912109375, 66.37000061035157, 0.0]