In [15]:
import pandas as pd
from ast import literal_eval

In [18]:
md = pd.read_csv('./data/movies_metadata.csv')

In [20]:
md['genres']

0        [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1        [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2        [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3        [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                           [{'id': 35, 'name': 'Comedy'}]
5        [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
6        [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
7        [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
8        [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
9        [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...
10       [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
11       [{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...
12       [{'id': 10751, 'name': 'Family'}, {'id': 16, '...
13       [{'id': 36, 'name': 'History'}, {'id': 18, 'na...
14       [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
15       [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
16       [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
17       [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
18       [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
19       [{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...
20       [{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...
21       [{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...
22       [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
23       [{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...
24       [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
25                           [{'id': 18, 'name': 'Drama'}]
26       [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
27       [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
28       [{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...
29       [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
                               ...
45436    [{'id': 28, 'name': 'Action'}, {'id': 9648, 'n...
45437    [{'id': 10751, 'name': 'Family'}, {'id': 16, '...
45438                        [{'id': 18, 'name': 'Drama'}]
45439    [{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...
45440    [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
45441                       [{'id': 35, 'name': 'Comedy'}]
45442                                                   []
45443    [{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...
45444                      [{'id': 14, 'name': 'Fantasy'}]
45445    [{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...
45446    [{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...
45447                                                   []
45448                                                   []
45449    [{'id': 16, 'name': 'Animation'}, {'id': 10751...
45450    [{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...
45451    [{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...
45452                  [{'id': 99, 'name': 'Documentary'}]
45453    [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...
45454    [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
45455                                                   []
45456    [{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...
45457    [{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...
45458                       [{'id': 27, 'name': 'Horror'}]
45459             [{'id': 878, 'name': 'Science Fiction'}]
45460    [{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...
45461    [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
45462                        [{'id': 18, 'name': 'Drama'}]
45463    [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
45464                                                   []
45465                                                   []
Name: genres, Length: 45466, dtype: object

In [21]:
md['genres'].fillna('[]').fillna('[]').apply(literal_eval)

0        [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1        [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2        [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3        [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                           [{'id': 35, 'name': 'Comedy'}]
5        [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
6        [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
7        [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
8        [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
9        [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...
10       [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
11       [{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...
12       [{'id': 10751, 'name': 'Family'}, {'id': 16, '...
13       [{'id': 36, 'name': 'History'}, {'id': 18, 'na...
14       [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
15       [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
16       [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
17       [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
18       [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
19       [{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...
20       [{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...
21       [{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...
22       [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
23       [{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...
24       [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
25                           [{'id': 18, 'name': 'Drama'}]
26       [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
27       [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
28       [{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...
29       [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
                               ...
45436    [{'id': 28, 'name': 'Action'}, {'id': 9648, 'n...
45437    [{'id': 10751, 'name': 'Family'}, {'id': 16, '...
45438                        [{'id': 18, 'name': 'Drama'}]
45439    [{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...
45440    [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
45441                       [{'id': 35, 'name': 'Comedy'}]
45442                                                   []
45443    [{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...
45444                      [{'id': 14, 'name': 'Fantasy'}]
45445    [{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...
45446    [{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...
45447                                                   []
45448                                                   []
45449    [{'id': 16, 'name': 'Animation'}, {'id': 10751...
45450    [{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...
45451    [{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...
45452                  [{'id': 99, 'name': 'Documentary'}]
45453    [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...
45454    [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
45455                                                   []
45456    [{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...
45457    [{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...
45458                       [{'id': 27, 'name': 'Horror'}]
45459             [{'id': 878, 'name': 'Science Fiction'}]
45460    [{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...
45461    [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
45462                        [{'id': 18, 'name': 'Drama'}]
45463    [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
45464                                                   []
45465                                                   []
Name: genres, Length: 45466, dtype: object

In [27]:
import pixiedust

ModuleNotFoundError: No module named 'pixiedust'

In [33]:
md['genres'].apply(literal_eval).apply(lambda x: [i['name'] for i in x] )

0                        [Animation, Comedy, Family]
1                       [Adventure, Fantasy, Family]
2                                  [Romance, Comedy]
3                           [Comedy, Drama, Romance]
4                                           [Comedy]
5                   [Action, Crime, Drama, Thriller]
6                                  [Comedy, Romance]
7                 [Action, Adventure, Drama, Family]
8                      [Action, Adventure, Thriller]
9                      [Adventure, Action, Thriller]
10                          [Comedy, Drama, Romance]
11                                  [Comedy, Horror]
12                    [Family, Animation, Adventure]
13                                  [History, Drama]
14                               [Action, Adventure]
15                                    [Drama, Crime]
16                                  [Drama, Romance]
17                                   [Crime, Comedy]
18                        [Crime, Comedy, Adventure]
19                           [Action, Comedy, Crime]
20                         [Comedy, Thriller, Crime]
21                                 [Drama, Thriller]
22              [Action, Adventure, Crime, Thriller]
23       [Drama, Fantasy, Science Fiction, Thriller]
24                                  [Drama, Romance]
25                                           [Drama]
26                           [Comedy, Drama, Family]
27                                  [Drama, Romance]
28             [Fantasy, Science Fiction, Adventure]
29                                    [Drama, Crime]
                            ...
45436            [Action, Mystery, Thriller, Horror]
45437           [Family, Animation, Romance, Comedy]
45438                                        [Drama]
45439                       [Drama, Fantasy, Horror]
45440                      [Drama, Family, TV Movie]
45441                                       [Comedy]
45442                                             []
45443             [Comedy, Fantasy, Science Fiction]
45444                                      [Fantasy]
45445                              [Fantasy, Comedy]
45446                              [Fantasy, Comedy]
45447                                             []
45448                                             []
45449                            [Animation, Family]
45450                    [Fantasy, Action, Thriller]
45451                              [Comedy, Fantasy]
45452                                  [Documentary]
45453                       [Crime, Drama, Thriller]
45454                                [Comedy, Drama]
45455                                             []
45456                    [Horror, Mystery, Thriller]
45457                              [Mystery, Horror]
45458                                       [Horror]
45459                              [Science Fiction]
45460                       [Drama, Action, Romance]
45461                                [Drama, Family]
45462                                        [Drama]
45463                      [Action, Drama, Thriller]
45464                                             []
45465                                             []
Name: genres, Length: 45466, dtype: object