In [1]:
import pandas as pd

In [10]:
data = pd.read_csv('./data/train.txt', sep=" ",header=None)

ParserError: Error tokenizing data. C error: Expected 1 fields in line 2, saw 14

In [9]:
pd.read_fwf('./data/train.txt',sep="	").describe()

,id turn1 turn2 turn3 label,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
count,30160,194,181,156,131,109,85,72,69,59,48,42,37
unique,30160,172,152,135,125,100,80,72,65,57,47,42,37
top,10531\tIt's been so long\tI know! Way too long...,ou,ther,and,sad,ers,ry,is c,hers,angr,thers,Ÿ˜˜ð,a goo
freq,1,3,5,4,3,4,3,1,2,2,2,1,1